*{
    margin: 0;
    padding: 0;
}

#titulo{
    text-align: center;
    background-color: #C88937;
    color:#11151C;
    height: 70px;
    width: 680px;
    margin: auto;
    font-size: 50px;
    border: 5px solid #CC3F0C;
    padding-top: 20px;
}

#github{
    width: 100px;
    height: 100px;
}

.margenSuperiorIzquierdo{
    float:left;
    width: 100px;
    height: 100px;
}

header{
    height: 100px;
    background-color: #D3A05F;
}
footer{
    height: 30px;
    background-color: #D3A05F;
    position: absolute; /* usado para fijar el footer al bottom */
    bottom: 0; /* usado para fijar el footer al bottom*/
    width: 100%; /* usado para fijar el footer al bottom*/
}

.navegador{
    line-height: 25px;
    padding: 0px 8px;
    font-weight: 700;
    background-color: #C88937;
    border-radius: 25px;
    text-align: center;
    justify-content: space-evenly;
}

body{
    background-color: burlywood;
    position: relative;
    padding-bottom: 5em; 
    min-height: 100vh;   /* usado para fijar el footer al bottom*/
}

#ajusteVentana{
    /* los 100 px extra, son para los cuadros de las pinturas */
    /*width: 1370px;
    height: 1200px;*/
    /*width: 1348px;*/
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#exposicion{
    text-align: center;
    /*width: 1400px;*/
    margin-left: auto;
    margin-right: auto;
}

.pintura{
    width: 300px;
    height: 300px;
    border: 5px solid #C88937;
}